<!doctype html>
<html ng-app="powerbarApp">
<head><title>Alternate Power UI</title>
<style type="text/css">
body { background: #FFF url("http://i.imgur.com/BbMZ7vr.png"); font-family: 'Nova Round', serif;}
p {margin: 0;}
#maindiv {background-image: URL(http://techinc.nl/sites/default/files/techinclogo_0.png);
  background-repeat:no-repeat; padding-left: 70px}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nova+Round">
</head>

<body ng-controller="PowerBarCtrl">
    <div id="maindiv">
        <h1>Technologia Incognita Power</h1>
        <h2>Presets</h2>
          <p ng-repeat="preset in presets">
            {$ preset $}
            <button ng-click="switchPreset(preset, true)">On</button>
            <button ng-click="switchPreset(preset, false)">Off</button>
          </p>
        <h2>Groups</h2>
          <p ng-repeat="group in groups">
            {$ group $}
            <button ng-click="switchOn(preset)">On</button>
            <button ng-click="switchOff(preset)">Off</button>
          </p>
    </div>
</body>
<script type="text/javascript">
var phonecatApp = angular.module('powerbarApp', []).config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});

phonecatApp.controller('PowerBarCtrl', function($scope, $http) {
  $scope.presets = ['Lights', 'All'];
  $scope.groups = ['AV', '3D', 'Entrance', 'HUE', 'Printer', 'Bar', 'Solder', 'Displays'];
  $scope.switchPreset = function(name, onoff) {
    var onoffstring = onoff ? 'on' : 'off';
    $http.post('/preset/' + name.toLowerCase() + onoffstring, {}).success(function(data, status, headers, config) {
        console.log(data + ' ' + status);
    });
  };
});

</script>
</html>