<!-- Main 2 -->

<style>
FORM { DISPLAY:inline; }
</style>


{% macro onoff(url, states, name) -%}
<td> {{ name }} </td>
{% for state in states %}
<td>
<center>
<form action="{{ url }}" method="post">
    <input type="hidden" name="state" value="{{ state }}">
    <input type="submit" value="{{ state }}">
</form> 
</center>
</td>
{% endfor %}
{%- endmacro %}

{% set URL = "" %}

<html>
  <head>
    <title> Powerbar </title>
  </head>
  <body>

{% if msg %}
<p> {{ msg }} </p>
{% endif %}

<h1> Presets </h1>

<table border="2px">
<tr> <td> Name </td> <td> Activate </td> </tr>
{% for preset in presets %}
<tr>
{{ onoff( URL + "/preset/" + preset, ("Energise",), preset) }}
</tr>
{% endfor %}
</table>


<h1> Groups </h1>
<table border="2px">
<tr> <td> Name </td> <td> On </td> <td> Off </td> </tr>
{% for group in groups %}

<!--
<p> <b>{{ group }}</b> contains: (
{% for socket in groups[group] %}
{{ socket.name }},
{% endfor %})
</p>
-->

<tr>
{{ onoff(URL + "/group/" + group, ("On", "Off"), group) }}
</tr>
{% endfor %}
</table>

<h1> Bars </h1>
{% for bar in bars %}
<h2> {{ bar.name }} </h2>

<table border="2px">
<tr> <td> Name </td> <td> On </td> <td> Off </td> <td> State </td></tr>

  <!-- filter(socketfilter, foo) filters everything that starts with 'Socket' -->
  {% for socket in filter(socketfilter, bar.sockets) %}

  <!--
  <p> {{ socket.name }} ({{ socket.num }}) </p>
  -->
  <tr>
  {{ onoff(URL + "/" + bar.name + "/" + (socket.num - 1)|string, ("On", "Off"),
  socket.name) }}
  <td> {{ socket.state }} </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}


  </body>
<html>

